In [1]:
import pandas as pd
import numpy as np

In [2]:
cryptos = {"btc" : "bitcoin", 
            "eth" : "ethereum", 
            "bnb" : "bnb", 
            "luna" : "terra", 
            "sol" : "solana", 
            "ada" : "cardano", 
            "avax" : "avalanche", 
            "dot" : "polkadot", 
            "doge" : "dogecoin", 
            "matic" : "polygon", 
            "atom" : "cosmos", 
            "ltc" : "litecoin", 
            "ftm" : "fantom", 
            "mana" : "decentraland", 
            "sand" : "the_sandbox", 
            "usdt" : "tether", 
            "usdc" : "usd_coin", 
            "busd" : "binance_usd", 
            "ust" : "terrausd", 
            "dai" : "dai"}

data_path = "/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/data/top_100_crypto_coins/"
columns_csv = ["Date", "Open", "High", "Low", "Close", "Volume", "Currency", "Coin"]
df = pd.DataFrame([], columns=columns_csv)

for key, value in cryptos.items():
    csv_file = pd.read_csv(data_path + value + ".csv")
    csv_file["Coin"] = key
    df = pd.concat([df, csv_file], axis=0, join='outer', ignore_index=False)

output_path = r"/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.csv"
df.to_csv(output_path, index = False)

In [3]:
df

            Date     Open     High      Low    Close  Volume Currency Coin
0     2010-07-18  0.00000  0.10000  0.10000  0.10000      75      USD  btc
1     2010-07-19  0.10000  0.10000  0.10000  0.10000     574      USD  btc
2     2010-07-20  0.10000  0.10000  0.10000  0.10000     262      USD  btc
3     2010-07-21  0.10000  0.10000  0.10000  0.10000     575      USD  btc
4     2010-07-22  0.10000  0.10000  0.10000  0.10000    2160      USD  btc
...          ...      ...      ...      ...      ...     ...      ...  ...
1452  2022-01-27  0.99825  1.00119  0.99734  1.00008  166575      USD  dai
1453  2022-01-28  1.00008  1.00173  1.00002  1.00012  144699      USD  dai
1454  2022-01-29  1.00012  1.00139  0.99742  0.99822  113381      USD  dai
1455  2022-01-30  0.99822  1.00219  0.99701  1.00010   52113      USD  dai
1456  2022-01-31  1.00010  1.00044  0.99535  0.99906  131081      USD  dai

[25481 rows x 8 columns]