In [1]:
import pandas as pd
import datetime

In [2]:
def mc_transfor(df):
    #get values in lists and drop old colums
    #def get_value(x):
    #    return x[1]
    df[['date','price']] = pd.DataFrame(df.prices.tolist(), index= df.index)
    #df['market_cap'] = df["market_caps"].apply(get_value)
    df['market_cap'] = df["market_caps"].apply(lambda x : x[1])
    #df['total_volume'] = df["total_volumes"].apply(get_value)
    df['total_volume'] = df["total_volumes"].apply(lambda x : x[1])
    df.drop(["prices", "market_caps", "total_volumes"], axis=1, inplace=True)

    #change types: date to datetime / coin to category / floats to round float
    #def date_clean(x):
    #    return datetime.datetime.fromtimestamp(x / 1e3)
    #df["date"] = df["date"].apply(date_clean)
    df["date"] = df["date"].apply(lambda x : datetime.datetime.fromtimestamp(x / 1e3))
    df["date"] = df["date"].dt.strftime('%d/%m/%Y')
    df["coin"] = df["coin"].astype('category')
    df["price"] = df["price"].astype(float).round(5)
    df[["market_cap", "total_volume"]] = df[["market_cap", "total_volume"]].astype(int)

    output_path = "/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_mc.csv"
    return df.to_csv(output_path, index=False)

df = pd.read_json("/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.json")
mc_transfor(df)
df

      coin        date        price    market_cap  total_volume
0      btc  01/01/2018  14093.60683  236440337971    2345478673
1      btc  02/01/2018  15321.93285  257079617264    4130217904
2      btc  03/01/2018  15583.88554  261505188675    3310355625
3      btc  04/01/2018  15976.36519  268124738814    4217387187
4      btc  05/01/2018  18336.92298  307774011688    6275687595
...    ...         ...          ...           ...           ...
15994  dai  26/12/2021      0.99933    9026946021     240785112
15995  dai  27/12/2021      1.00062    9056479533     474926733
15996  dai  28/12/2021      0.99867    9035134798     314954720
15997  dai  29/12/2021      0.99992    9011245517     492190904
15998  dai  30/12/2021      1.00311    8928300275     272808400

[15999 rows x 5 columns]

In [3]:
df.dtypes

coin            category
date              object
price            float64
market_cap         int64
total_volume       int64
dtype: object