In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [2]:
def price_transfor(df):
    #rename columns to lower
    clean_columns = []
    for col in df.columns:
        clean_columns.append(col.lower())
    df.columns = clean_columns

    #change types: date to datetime / coin to category / floats to round float
    df["date"] = pd.to_datetime(df["date"])
    df["date"] = df["date"].dt.strftime('%d/%m/%Y')
    df["coin"] = df["coin"].astype('category')
    round_list = ["open", "high", "low", "close"]
    for col in round_list:
        df[col] = df[col].astype(float)
        df[col] = df[col].round(5)
    output_path = "/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_price.csv"
    return df.to_csv(output_path, index=False)

df = pd.read_csv(r"/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.csv")
price_transfor(df)
df

             date     open     high      low    close  volume currency coin
0      18/07/2010  0.00000  0.10000  0.10000  0.10000      75      USD  btc
1      19/07/2010  0.10000  0.10000  0.10000  0.10000     574      USD  btc
2      20/07/2010  0.10000  0.10000  0.10000  0.10000     262      USD  btc
3      21/07/2010  0.10000  0.10000  0.10000  0.10000     575      USD  btc
4      22/07/2010  0.10000  0.10000  0.10000  0.10000    2160      USD  btc
...           ...      ...      ...      ...      ...     ...      ...  ...
25476  27/01/2022  0.99825  1.00119  0.99734  1.00008  166575      USD  dai
25477  28/01/2022  1.00008  1.00173  1.00002  1.00012  144699      USD  dai
25478  29/01/2022  1.00012  1.00139  0.99742  0.99822  113381      USD  dai
25479  30/01/2022  0.99822  1.00219  0.99701  1.00010   52113      USD  dai
25480  31/01/2022  1.00010  1.00044  0.99535  0.99906  131081      USD  dai

[25481 rows x 8 columns]

In [3]:
df.dtypes

date          object
open         float64
high         float64
low          float64
close        float64
volume         int64
currency      object
coin        category
dtype: object