In [1]:
import pandas as pd
import datetime

In [2]:
def merge_data(price, marketcap):
    outer_merged = pd.merge(price, marketcap, how="outer", on=["date", "coin"])
    output_path = "/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_merged.csv"
    return outer_merged.to_csv(output_path, index=False)

price = pd.read_csv("/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_price.csv")
marketcap = pd.read_csv("/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_mc.csv")

merge_data(price, marketcap)

In [4]:
df = pd.read_csv("/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_merged.csv")
df

,date,open,high,low,close,volume,currency,coin,price,market_cap,total_volume
0,18/07/2010,0.0,0.1,0.1,0.1,75.0,USD,btc,NaN,NaN,NaN
1,19/07/2010,0.1,0.1,0.1,0.1,574.0,USD,btc,NaN,NaN,NaN
2,20/07/2010,0.1,0.1,0.1,0.1,262.0,USD,btc,NaN,NaN,NaN
3,21/07/2010,0.1,0.1,0.1,0.1,575.0,USD,btc,NaN,NaN,NaN
4,22/07/2010,0.1,0.1,0.1,0.1,2160.0,USD,btc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26363,20/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99419,0.0,25.0
26364,21/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.00106,0.0,3138.0
26365,22/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99957,0.0,445356.0
26366,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.02294,0.0,43139.0
26367,24/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99942,0.0,8534.0