In [59]:
import pandas as pd
import datetime as date
import numpy as np

In [60]:
df = pd.read_csv("/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_merged.csv")
df

,date,open,high,low,close,volume,currency,coin,price,market_cap,total_volume
0,18/07/2010,0.0,0.1,0.1,0.1,75.0,USD,btc,NaN,NaN,NaN
1,19/07/2010,0.1,0.1,0.1,0.1,574.0,USD,btc,NaN,NaN,NaN
2,20/07/2010,0.1,0.1,0.1,0.1,262.0,USD,btc,NaN,NaN,NaN
3,21/07/2010,0.1,0.1,0.1,0.1,575.0,USD,btc,NaN,NaN,NaN
4,22/07/2010,0.1,0.1,0.1,0.1,2160.0,USD,btc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26363,20/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99419,0.0,25.0
26364,21/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.00106,0.0,3138.0
26365,22/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99957,0.0,445356.0
26366,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.02294,0.0,43139.0
26367,24/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99942,0.0,8534.0

In [64]:
df_new = df[df["open"].isnull()]
df_new

,date,open,high,low,close,volume,currency,coin,price,market_cap,total_volume
25481,22/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,5.28424,124357932.0,245857265.0
25482,23/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,5.28424,124357932.0,245857265.0
25483,24/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,3.49123,86335245.0,97342432.0
25484,25/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,4.57389,112209367.0,69665168.0
25485,26/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,4.70297,115431881.0,41950754.0
...,...,...,...,...,...,...,...,...,...,...,...
26363,20/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99419,0.0,25.0
26364,21/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.00106,0.0,3138.0
26365,22/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99957,0.0,445356.0
26366,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,1.02294,0.0,43139.0
26367,24/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,ust,0.99942,0.0,8534.0

In [65]:
df_new.loc[df_new["market_cap"] == 0,["open", "high", "low", "close"]] = df_new["price"]
df_new

/Users/fernandoseguias/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

,date,open,high,low,close,volume,currency,coin,price,market_cap,total_volume
25481,22/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,5.28424,124357932.0,245857265.0
25482,23/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,5.28424,124357932.0,245857265.0
25483,24/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,3.49123,86335245.0,97342432.0
25484,25/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,4.57389,112209367.0,69665168.0
25485,26/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,avax,4.70297,115431881.0,41950754.0
...,...,...,...,...,...,...,...,...,...,...,...
26363,20/11/2020,0.99419,0.99419,0.99419,0.99419,NaN,NaN,ust,0.99419,0.0,25.0
26364,21/11/2020,1.00106,1.00106,1.00106,1.00106,NaN,NaN,ust,1.00106,0.0,3138.0
26365,22/11/2020,0.99957,0.99957,0.99957,0.99957,NaN,NaN,ust,0.99957,0.0,445356.0
26366,23/11/2020,1.02294,1.02294,1.02294,1.02294,NaN,NaN,ust,1.02294,0.0,43139.0
26367,24/11/2020,0.99942,0.99942,0.99942,0.99942,NaN,NaN,ust,0.99942,0.0,8534.0

In [ ]:
for index, column in df_new.iterrows():
    print(column, "\n")
    print(index)
    break

In [63]:
df.loc[df["open"] == np.nan | df["market_cap"] == 0, ["open", "high", "low", "close"]] = df["price"]
df

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [float]