In [11]:
import pandas as pd
import sidetable

In [12]:
cryptos = pd.read_csv(r"/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.csv")
cryptos.sample(4)

,Date,Open,High,Low,Close,Volume,Currency,Coin
4896,2018-01-19,993.920000,1079.000000,960.100000,1032.600000,612185,USD,eth
2493,2017-05-15,1772.600000,1776.700000,1656.800000,1708.900000,80242,USD,btc
23734,2021-04-18,1.008680,1.024507,0.992135,0.996321,77207362,USD,ust
7234,2020-03-22,12.080737,12.392440,11.138777,11.158228,308670064,USD,bnb

In [13]:
cryptos.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency', 'Coin'], dtype='object')

In [14]:
print(f'rows: {cryptos.shape[0]} - columns: {cryptos.shape[1]}')

rows: 25481 - columns: 8

In [15]:
cryptos.dtypes

Date         object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
Coin         object
dtype: object

In [16]:
cryptos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25481 entries, 0 to 25480
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      25481 non-null  object
 1   Open      25481 non-null  float64
 2   High      25481 non-null  float64
 3   Low       25481 non-null  float64
 4   Close     25481 non-null  float64
 5   Volume    25481 non-null  int64
 6   Currency  25481 non-null  object
 7   Coin      25481 non-null  object
dtypes: float64(4), int64(1), object(3)
memory usage: 1.6+ MB

In [17]:
cryptos.describe()

               Open          High           Low         Close        Volume
count  25481.000000  25481.000000  25481.000000  25481.000000  2.548100e+04
mean    1258.306283   1294.988799   1216.913396   1259.936767  5.384455e+08
std     6198.916592   6372.607986   5998.974560   6203.249566  3.418347e+09
min        0.000000      0.000793      0.000000      0.000774  0.000000e+00
25%        0.888000      0.921584      0.804100      0.892200  3.563360e+05
50%        1.753100      1.895688      1.614290      1.767700  7.879397e+06
75%       78.700000     82.528000     75.000000     78.961000  1.588379e+08
max    67528.700000  68990.600000  66334.900000  67527.900000  3.155511e+11

In [18]:
cryptos.describe(include = "object")

              Date Currency   Coin
count        25481    25481  25481
unique        4217        1     20
top     2021-05-12      USD    btc
freq            20    25481   4216

In [19]:
cryptos.duplicated().sum()

0

In [20]:
cryptos.stb.missing()

          missing  total  percent
Date            0  25481      0.0
Open            0  25481      0.0
High            0  25481      0.0
Low             0  25481      0.0
Close           0  25481      0.0
Volume          0  25481      0.0
Currency        0  25481      0.0
Coin            0  25481      0.0