In [1]:
import pandas as pd
import sidetable

In [2]:
cryptos = pd.read_json(r"/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.json")
cryptos.sample(4)

#diccionary = {prices:[timestamp, prices], market_caps:[timestamp, marketcaps], total_volumes:[timestamp, total_volumes]

,prices,market_caps,total_volumes,coin
9977,"[1550188800000, 0.0340983871]","[1550188800000, 42988239.93748297]","[1550188800000, 1616378.7214935613]",mana
338,"[1543968000000, 3943.6928120656]","[1543968000000, 68592152288.353745]","[1543968000000, 3255899964.55098]",btc
7555,"[1586995200000, 2.2696673316]","[1586995200000, 422457419.45654]","[1586995200000, 126895023.20274396]",atom
1139,"[1613174400000, 47414.1862550079]","[1613174400000, 880620921496.0787]","[1613174400000, 61942185128.99905]",btc

In [3]:
cryptos.columns #add column date (from timestamp), add column coin (from json name) and extract prices, market_caps and total_volumes (from lists)

Index(['prices', 'market_caps', 'total_volumes', 'coin'], dtype='object')

In [4]:
print(f'rows: {cryptos.shape[0]} - columns: {cryptos.shape[1]}')

rows: 15999 - columns: 4

In [5]:
cryptos.dtypes 

#objects because its values are lists, transform to values then to specific type
#change timestamp for date, coin to category and prices, marketcaps and total_volumes for floats (5)

prices           object
market_caps      object
total_volumes    object
coin             object
dtype: object

In [6]:
cryptos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15999 entries, 0 to 15998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         15999 non-null  object
 1   market_caps    15999 non-null  object
 2   total_volumes  15999 non-null  object
 3   coin           15999 non-null  object
dtypes: object(4)
memory usage: 625.0+ KB

In [7]:
cryptos.stb.missing()

               missing  total  percent
prices               0  15999      0.0
market_caps          0  15999      0.0
total_volumes        0  15999      0.0
coin                 0  15999      0.0