In [1]:
import pandas as pd
import numpy as np
import sidetable
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cryptos = pd.read_json(r"/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_1/output/cryptos_raw.json")
cryptos.sample(4)

#diccionary = {prices:[timestamp, prices], market_caps:[timestamp, marketcaps], total_volumes:[timestamp, total_volumes]

,prices,market_caps,total_volumes,coin
6184,"[1558483200000, 0.0289136483]","[1558483200000, 62459642.03780136]","[1558483200000, 696647294.9053901]",matic
11768,"[1555459200000, 1.0041212295]","[1555459200000, 2065850646.7347767]","[1555459200000, 17222193366.955063]",usdt
8272,"[1628899200000, 182.8836467434]","[1628899200000, 0.0]","[1628899200000, 1274711.2631209018]",ltc
13673,"[1617926400000, 1.0013443798]","[1617926400000, 11178287475.748632]","[1617926400000, 1487482374.5328546]",usdc

In [8]:
cryptos.columns #add column date (from timestamp), add column coin (from json name) and extract prices, market_caps and total_volumes (from lists)

Index(['prices', 'market_caps', 'total_volumes', 'coin'], dtype='object')

In [9]:
print(f'rows: {cryptos.shape[0]} - columns: {cryptos.shape[1]}')

rows: 15999 - columns: 4

In [14]:
cryptos.dtypes 

#objects because its values are lists, transform to values then to specific type
#change timestamp for date, coin to category and prices, marketcaps and total_volumes for floats (5)

prices           object
market_caps      object
total_volumes    object
coin             object
dtype: object

In [12]:
cryptos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15999 entries, 0 to 15998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prices         15999 non-null  object
 1   market_caps    15999 non-null  object
 2   total_volumes  15999 non-null  object
 3   coin           15999 non-null  object
dtypes: object(4)
memory usage: 625.0+ KB

In [16]:
cryptos.stb.missing() #esto sustituye a (cryptos.isnull().sum() / cryptos.shape[0]) * 100

               missing  total  percent
prices               0  15999      0.0
market_caps          0  15999      0.0
total_volumes        0  15999      0.0
coin                 0  15999      0.0